---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@images/hero-image.avif";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import pricing from "@data/pricing.json";
import featureImage from "@images/features-image.avif";
import construction from "@images/construction-image.avif";
import tools from "@images/automated-tools.avif";
import dashboard from "@images/dashboard-image.avif";

const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];
---

<MainLayout>
  <!-- <AnnouncementBanner
    btnId="dismiss-button"
    btnTitle="Explore ScrewFast on GitHub"
    url="https://github.com/mearashadowfax/ScrewFast"
  /> -->

  <HeroSection
    title=`¡Bienvenidos a la página oficial de <span
        class="text-blue dark:text-blue"> AANCLAC!</span>`
    subTitle="Somos la Asociación de Agentes Navieros Consignatarios de Buques del Puerto de Lázaro Cárdenas, un pilar fundamental en la operación y desarrollo marítimo de este importante puerto mexicano. Desde nuestra fundación, nos hemos dedicado a promover la excelencia en los servicios portuarios y a representar los intereses de nuestros asociados con compromiso y profesionalismo. En este espacio, encontrarán información detallada sobre nuestros servicios, nuestra historia, y nuestro impacto en la comunidad portuaria y en el comercio internacional. Nos enorgullece ser parte activa del crecimiento y la eficiencia del Puerto de Lázaro Cárdenas, contribuyendo al dinamismo económico y al desarrollo sostenible de la región. Explora nuestro sitio para conocer más sobre cómo AANCLAC continúa marcando la diferencia en la industria naviera y consignataria. ¡Gracias por visitarnos!"
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`From Over <span class="font-bold">12.8k</span> Reviews`
    src={heroImage}
    alt="Stack of ScrewFast product boxes containing assorted hardware tools"
  />

  <!-- botones de la pagina -->
  <!-- primaryBtn="Start Exploring"
    primaryBtnURL="/products"
    secondaryBtn="Contact Sales Team"
    secondaryBtnURL="/contact" -->
  <ClientsSection
    title="¿Qué es la AANCLAC?"
    subTitle="AANCLAC es una organización sin fines de lucro que representa a los agentes navieros consignatarios del puerto de Lázaro Cárdenas, interesados en fortalecer su posición en el mercado, compartir conocimientos y brindar servicios más completos y eficientes."
  />
  <!-- hero backup
   withReview={true}
    avatars={avatarSrcs}
  -->
  <FeaturesGeneral
    title="VENTAJAS"
    subTitle="En un mundo empresarial cada vez más interconectado, formar parte de una asociación sectorial representa una estrategia inteligente para empresas en busca de crecimiento y competitividad. En este contexto, destacan cuatro puntos clave que resaltan los beneficios de pertenecer a una asociación: la oportunidad de colaboración y aprendizaje, la representación colectiva para abordar desafíos comunes, el acceso a recursos y conocimientos exclusivos, y la influencia en la formulación de políticas sectoriales. Estos elementos no solo fortalecen la posición de las empresas dentro de la industria, sino que también les permiten contribuir activamente al desarrollo y la mejora del entorno empresarial en el que operan."
    src={featureImage}
    alt="ScrewFast products in floating boxes"
    features={features}
  />

  <FeaturesNavs
    title=`<span class="text-blue dark:text-blue">AANCLAC</span> forma parte del subcomité de logística y operación portuaria de Lázaro Cárdenas, en el cual tenemos una participación activa.`
    tabs={[
      {
        heading: "Mejora y calidad de servicios",
        content:
          "La asociación ha contribuido a avanzar en la mejora y calidad de los servicios portuarios en Lázaro Cárdenas. Esto implica posiblemente la optimización de procesos, infraestructura y tecnología para ofrecer servicios más eficientes y de mayor calidad a los usuarios del puerto.",
        svg: "tools",
        src: tools,
        alt: "Yellow and black heavy equipment on brown grass field",
        first: true,
      },
      {
        heading:
          "Implementación de estrategias de gestión de carga y simplificación de procedimientos aduaneros",
        content:
          "La asociación ha trabajado en la implementación de estrategias destinadas a mejorar la gestión de carga y simplificar los procedimientos aduaneros en el puerto. Esto podría incluir la introducción de sistemas electrónicos de gestión de carga y la colaboración con las autoridades aduaneras para agilizar los trámites de importación y exportación.",
        svg: "dashboard",
        src: dashboard,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
        second: true,
      },
      {
        heading: "Promoción de seguridad laboral",
        content:
          "La asociación también ha trabajado en promover la seguridad laboral en el puerto. Esto puede incluir la implementación de programas de capacitación en seguridad para los trabajadores portuarios, la mejora de las condiciones de trabajo y la colaboración con las autoridades pertinentes para garantizar el cumplimiento de las normativas de seguridad laboral.",
        svg: "house",
        src: construction,
        alt: "",
      },
    ]}
  />

  <!-- <TestimonialsSection
    title="Fast-Track Your Projects"
    subTitle="At ScrewFast, we ensure a swift start with instant account setup. Experience the speed of construction redefined."
    ;
    testimonials={[
      {
        content:
          "ScrewFast dramatically boosted our project efficiency. Setup was instant, and their rapid response times are phenomenal. Truly a game-changer in hardware and construction support!",
        author: "Samantha Ruiz",
        role: "Chief Operating Officer | ConstructIt Inc.",
        avatarSrc:
          "https://images.unsplash.com/photo-1593104547489-5cfb3839a3b5?q=80&w=1453&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
      },
    ]}
    statistics={[
      {
        count: "70k+",
        description:
          "customers equipped — from DIY to major construction firms",
      },
      {
        count: "35%",
        description:
          "uptick in project efficiency with ScrewFast tools and services",
      },
      {
        count: "15.3%",
        description:
          "reduction in maintenance costs reported by long-term clients",
      },
      {
        count: "2x",
        description: "quicker assembly using innovative fastening solutions",
      },
    ]}
  /> -->

  <!-- <PricingSection pricing={pricing} /> -->

  <!-- <FAQ title="Frequently<br />asked questions" faqs={faqs} /> -->

  <!-- <HeroSectionAlt
    title="Let's Build Together"
    subTitle="ScrewFast is an open-source template, meticulously crafted with Astro, Tailwind CSS, and Preline UI frameworks."
    url="https://github.com/mearashadowfax/ScrewFast"
  />
</MainLayout> -->
</MainLayout>
